[alias]
	st = status
	aa = add .
	aap = add . -p
	cm = commit -m
	cma = commit --amend --no-edit
	cme = commit --allow-empty -m
	pf = push --force
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --decorate=full -n 10
	rst = reset HEAD^
	wt = worktree
[branch]
	sort = committerdate
[commit]
	verbose = true
	gpgSign = true
[core]
	pager = delta
	excludeFiles = ~/.gitignore
[delta]
	dark = true
	navigate = true
[diff]
	colorMoved = default
[help]
	autocorrect = 10
[http]
	followRedirects = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
[user]
	email = alexis.manuelpro@gmail.com
	name = alexismanuel
	signingkey = 01726D585F3B868E
[includeIf "gitdir:~/workspace/continuity/"]
	path = ~/workspace/continuity/.gitconfig
	signingkey = B3D1ED1BC7FB328B
[gpg]
	program = /opt/homebrew/bin/gpg
